/* style.css */

body {font-family: Arial, Helvetica, sans-serif; background-color: #333;
}
.content {position: absolute; z-index:-1; top: 60px; left: 0; right: 0; bottom: 0; background-color: #333; }
.content iframe {display: block; width: 100%; height: 100%; border: none; }


.navbar {
  overflow: hidden;
  background-color: #333;
}


.navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 12px 8px;
  text-decoration: none;
  font-size: 16px;
}


.navbar .icon {
  display: none;
}


.navbar a:hover {
  background-color: #616161;
  color: #fff;
}

.navbar a.active {
  background-color: #FF8300;
  color: white;
}



.navbar button {
  float: left;
  display: block;
  color: #fff;
  background-color: #333;
  text-align: center;
  padding: 12px 8px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  line-height: 1.1em;
}

.navbar button:hover {
  background-color: #616161;
  color: #fff;
}


.HR::before {
  content: "\1F1ED\1F1F7";
  line-height: 1em;
}

.EN::before {
  content: "\1F1EC\1F1E7";
  line-height: 1em;
}

.DE::before {
  content: "\1F1E9\1F1EA";
  line-height: 1em;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  font-size: 14px
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#myModal.modal a {
  float: none;
  color: blue;
  background-color: transparent;
  text-align: initial;
  padding: 0px;
  text-decoration: none;
  font-size: 14px;
  display: inline;
}

.dropbtn {
  background-color: #FF8300;
  color: #fff;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #616161;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #333
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #333;
}
